html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover,
.category-btn.active {
  background-color: #383838 !important;
  opacity: 1 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
  .react-player {
    height: 35vh !important;
  }
  .search-bar {
    width: 200px !important;
  }
}

@media screen and (max-width: 470px) {
  .search-bar {
    width: 100px !important;
  }
}
